In [1]:
# Import Necessary Packages in Python
import os
import rpy2
import numpy as np
import pandas as pd
import plotly.graph_objs as go

from numpy import ndarray
from pandas import Series, DataFrame
from plotly.graph_objs import Figure

# Activate R Environment in Jupyter
%load_ext rpy2.ipython

C:\Users\Sayak\AppData\Local\Programs\Python\Python311\Lib\site-packages\rpy2\robjects\packages.py:367: UserWarning: The symbol 'quartz' is not in this R namespace/package.
  warnings.warn(

In [2]:
# Import Necessary Packages in R
%R library(tidyverse)  # R packages for data science
%R library(tximport)  # Package to calculate transcript-level estimates
%R library(ensembldb)  # Utilities to create and use Ensembl-based annotation databases
%R library(EnsDb.Hsapiens.v86)  # Ensembl based annotation package

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.1     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.2     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

R[write to console]: Loading required package: BiocGenerics

R[write to console]:
Attaching package: 'BiocGenerics'


R[write to console]: The following objects are masked from 'package:lubridate':

    intersect, setdiff, union


R[write to console]: The following objects are masked from 'package:dplyr':

    combine, intersect, setdiff, union


R[write to console]: The following objects are masked from 'package:stats':

    IQR, mad, sd, var, xtabs


R[write to console]: The following objects are masked from 'package:base':

    anyDuplicated, aperm, append, as.data.frame, basename, cbind,
    colnames, dirname, do.call, duplicated, eval, evalq, Filter, Find,
    get, grep, grepl, intersect, is.unsorted, lapply, Map, mapply,
    match, mget, order, paste, pmax, pmax.int, pmin, pmin.int,
    Position, rank, rbind, Reduce, rownames, sapply, setdiff, sort,
    table, tapply, union, unique, unsplit, which.max, which.min


R[write to console]: Loading required package: GenomicRanges

R[write to console]: Loading required package: stats4

R[write to console]: Loading required package: S4Vectors

R[write to console]:
Attaching package: 'S4Vectors'


R[write to console]: The following objects are masked from 'package:lubridate':

    second, second<-


R[write to console]: The following objects are masked from 'package:dplyr':

    first, rename


R[write to console]: The following object is masked from 'package:tidyr':

    expand


R[write to console]: The following objects are masked from 'package:base':

    expand.grid, I, unname


R[write to console]: Loading required package: IRanges

R[write to console]:
Attaching package: 'IRanges'


R[write to console]: The following object is masked from 'package:lubridate':

    %within%


R[write to console]: The following objects are masked from 'package:dplyr':

    collapse, desc, slice


R[write to console]: The following object is masked from 'package:purrr':

    reduce


R[write to console]: The following object is masked from 'package:grDevices':

    windows


R[write to console]: Loading required package: GenomeInfoDb

R[write to console]: Loading required package: GenomicFeatures

R[write to console]: Loading required package: AnnotationDbi

R[write to console]: Loading required package: Biobase

R[write to console]: Welcome to Bioconductor

    Vignettes contain introductory material; view with
    'browseVignettes()'. To cite Bioconductor, see
    'citation("Biobase")', and for packages 'citation("pkgname")'.


R[write to console]:
Attaching package: 'AnnotationDbi'


R[write to console]: The following object is masked from 'package:dplyr':

    select


R[write to console]: Loading required package: AnnotationFilter

R[write to console]:
Attaching package: 'ensembldb'


R[write to console]: The following object is masked from 'package:dplyr':

    filter


R[write to console]: The following object is masked from 'package:stats':

    filter

<rpy2.robjects.vectors.StrVector object at 0x000001BA7C3158D0> [16]
R classes: ('character',)
['EnsDb.Hs..., 'ensembldb', 'Annotati..., 'GenomicF..., ..., 'utils', 'datasets', 'methods', 'base']

In [3]:
# Define file paths to avoid repetitive typing and ensure consistency
aligned_data_path = '..//Aligned-Data//'
figure_path = '..//Figures//'
processed_data_path = '..//Processed-Data//'

In [4]:
# Generate an array of full paths to 'abundance.tsv' produced by kallisto (Required for tximport)
abundance_path_arr = ['D:\Bioinformatics\Sameek-Sen-Lab\Aligned-Data' + '\\' + path + '\\abundance.tsv' for path in os.listdir(aligned_data_path)]
abundance_path_arr

['D:\\Bioinformatics\\Sameek-Sen-Lab\\Aligned-Data\\S1\\abundance.tsv',
 'D:\\Bioinformatics\\Sameek-Sen-Lab\\Aligned-Data\\S10\\abundance.tsv',
 'D:\\Bioinformatics\\Sameek-Sen-Lab\\Aligned-Data\\S11\\abundance.tsv',
 'D:\\Bioinformatics\\Sameek-Sen-Lab\\Aligned-Data\\S114\\abundance.tsv',
 'D:\\Bioinformatics\\Sameek-Sen-Lab\\Aligned-Data\\S12\\abundance.tsv',
 'D:\\Bioinformatics\\Sameek-Sen-Lab\\Aligned-Data\\S13\\abundance.tsv',
 'D:\\Bioinformatics\\Sameek-Sen-Lab\\Aligned-Data\\S14\\abundance.tsv',
 'D:\\Bioinformatics\\Sameek-Sen-Lab\\Aligned-Data\\S15\\abundance.tsv',
 'D:\\Bioinformatics\\Sameek-Sen-Lab\\Aligned-Data\\S16\\abundance.tsv',
 'D:\\Bioinformatics\\Sameek-Sen-Lab\\Aligned-Data\\S17\\abundance.tsv',
 'D:\\Bioinformatics\\Sameek-Sen-Lab\\Aligned-Data\\S2\\abundance.tsv',
 'D:\\Bioinformatics\\Sameek-Sen-Lab\\Aligned-Data\\S3\\abundance.tsv',
 'D:\\Bioinformatics\\Sameek-Sen-Lab\\Aligned-Data\\S4\\abundance.tsv',
 'D:\\Bioinformatics\\Sameek-Sen-Lab\\Aligned-Data\\S5\\abundance.tsv',
 'D:\\Bioinformatics\\Sameek-Sen-Lab\\Aligned-Data\\S6\\abundance.tsv',
 'D:\\Bioinformatics\\Sameek-Sen-Lab\\Aligned-Data\\S7\\abundance.tsv',
 'D:\\Bioinformatics\\Sameek-Sen-Lab\\Aligned-Data\\S8\\abundance.tsv']

In [5]:
%R -i abundance_path_arr # Import in R environment

In [16]:
# Retrieve matching transcript IDs and gene names from ENSEMBLE Database
%R transcript_gene_annotation_gr <- ensembldb::transcripts(EnsDb.Hsapiens.v86, columns = c('tx_id', 'gene_name')) # gr = GRanges (Genomic Ranges)
%R transcript_gene_annotation_tibble <- tibble::as_tibble(transcript_gene_annotation_gr) # convert them to a tibble for easier manipulation

,seqnames,start,end,width,strand,tx_id,gene_name
1,1,11869,14409,2541,1,ENST00000456328,DDX11L1
2,1,12010,13670,1661,1,ENST00000450305,DDX11L1
3,1,14404,29570,15167,2,ENST00000488147,WASH7P
4,1,17369,17436,68,2,ENST00000619216,MIR6859-1
5,1,29554,31097,1544,1,ENST00000473358,MIR1302-2
...,...,...,...,...,...,...,...
216737,357,26549425,26549743,319,1,ENST00000420810,CYCSP49
216738,357,26586642,26591601,4960,2,ENST00000456738,SLC25A15P1
216739,357,26594851,26634652,39802,2,ENST00000435945,PARP4P1
216740,357,26626520,26627159,640,2,ENST00000435741,FAM58CP
216741,357,56855244,56855488,245,1,ENST00000431853,CTBP2P1

In [17]:
%R head(transcript_gene_annotation_tibble, 2)

   seqnames  start    end  width  strand            tx_id gene_name
1         1  11869  14409   2541       1  ENST00000456328   DDX11L1
2         1  12010  13670   1661       1  ENST00000450305   DDX11L1

In [18]:
# Select only the 'tx_id' and 'gene_name' columns from `transcript_gene_annotation_tibble`
# Rename 'tx_id' to 'target_id' for `tximport()` function
%R transcript_gene_annotation_tibble <- transcript_gene_annotation_tibble %>% dplyr::select('tx_id', 'gene_name') %>% dplyr::rename('target_id' = 'tx_id')

              target_id   gene_name
1       ENST00000456328     DDX11L1
2       ENST00000450305     DDX11L1
3       ENST00000488147      WASH7P
4       ENST00000619216   MIR6859-1
5       ENST00000473358   MIR1302-2
...                 ...         ...
216737  ENST00000420810     CYCSP49
216738  ENST00000456738  SLC25A15P1
216739  ENST00000435945     PARP4P1
216740  ENST00000435741     FAM58CP
216741  ENST00000431853     CTBP2P1

[216741 rows x 2 columns]

In [19]:
%R head(transcript_gene_annotation_tibble, 2)

         target_id gene_name
1  ENST00000456328   DDX11L1
2  ENST00000450305   DDX11L1

In [20]:
# Import and summarize transcript-level abundance estimates to gene-level counts (TPM) using 'tximport()' function
# `abundance_path_arr`: An array containing the paths to 'abundance.tsv' files generated by Kallisto
# `type`: The type of software used for abundance estimation, in this case, 'kallisto'
# `tx2gene`: A Dataframe or Similar Object that maps transcript IDs ('tx_id') to gene names ('gene_name')
# `txOut`: Whether to output transcript-level estimates; set to FALSE to only output gene-level estimates
# `countsFromAbundance`: Method used for deriving counts; 'lengthScaledTPM' scales TPMs by average transcript length
# `ignoreTxVersion`: Whether to ignore transcript version (ENST00000380152.1, ENST00000380152.2 etc.) when importing; set to TRUE to ignore
%R gene_level_count_list <- tximport(abundance_path_arr, type = 'kallisto', tx2gene = transcript_gene_annotation_tibble, txOut = FALSE, countsFromAbundance = 'lengthScaledTPM', ignoreTxVersion = TRUE)  # list object

R[write to console]: Note: importing `abundance.h5` is typically faster than `abundance.tsv`

R[write to console]: reading in files with read_tsv

R[write to console]: 1
R[write to console]: 2
R[write to console]: 3
R[write to console]: 4
R[write to console]: 5
R[write to console]: 6
R[write to console]: 7
R[write to console]: 8
R[write to console]: 9
R[write to console]: 10
R[write to console]: 11
R[write to console]: 12
R[write to console]: 13
R[write to console]: 14
R[write to console]: 15
R[write to console]: 16
R[write to console]: 17
R[write to console]:

R[write to console]: transcripts missing from tx2gene: 35624

R[write to console]: summarizing abundance

R[write to console]: summarizing counts

R[write to console]: summarizing length

o{'abundance': [[0.00000000e+00 0.00000000e+00 0.00000000e+00 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [0.00000000e+00 0.00000000e+00 3.89718000e-02 ... 0.00000000e+00
  6.23936000e-02 0.00000000e+00]
 [0.00000000e+00 0.00000000e+00 0.00000000e+00 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 ...
 [0.00000000e+00 0.00000000e+00 0.00000000e+00 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [1.53679885e+01 1.55319530e+01 1.39153490e+01 ... 2.03605444e+01
  1.43075420e+01 1.32927870e+01]
 [6.06024700e+01 8.45473381e+01 6.78193500e+01 ... 1.12809243e+02
  8.31705300e+01 8.50692200e+01]], 'counts': [[0.00000000e+00 0.00000000e+00 0.00000000e+00 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [0.00000000e+00 0.00000000e+00 8.84726953e-01 ... 0.00000000e+00
  1.74798372e+00 0.00000000e+00]
 [0.00000000e+00 0.00000000e+00 0.00000000e+00 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 ...
 [0.00000000e+00 0.00000000e+00 0.00000000e+00 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [7.16992617e+02 5.96263031e+02 5.32860878e+02 ... 9.04951518e+02
  6.76119262e+02 5.73372405e+02]
 [1.25021640e+03 1.43518856e+03 1.14834019e+03 ... 2.21706191e+03
  1.73790070e+03 1.62252128e+03]], 'length': [[  12.67827647   12.67827647   12.67827647 ...   12.67827647
    12.67827647   12.67827647]
 [1786.15435745 1786.15435745 1987.61       ... 1786.15435745
  1981.9        1786.15435745]
 [6615.09166229 6615.09166229 6615.09166229 ... 6615.09166229
  6615.09166229 6615.09166229]
 ...
 [  13.58158824   13.58158824   13.58158824 ...   13.58158824
    13.58158824   13.58158824]
 [2865.12923514 2670.50398877 3117.26977564 ... 2237.41071358
  2649.58574798 2970.61484168]
 [1365.7648697  1202.07933761 1263.23093808 ... 1251.79469509
  1297.23348452 1334.13576159]], 'countsFromAbundance': [1] "lengthScaledTPM"
, }

In [21]:
# gene_level_counts$abundance: Holds TPM values for normalized transcript abundance.
# gene_level_counts$counts: Contains raw or adjusted read counts for each gene, essential for DGE.
# gene_level_counts$length: Stores effective lengths of each transcript.
# gene_level_counts$countsFromAbundance: Specifies method ('lengthScaledTPM', in this case) for deriving counts from abundance.
%R print(names(gene_level_count_list))

[1] "abundance"           "counts"              "length"
[4] "countsFromAbundance"

<rpy2.robjects.vectors.StrVector object at 0x000001BA465BC950> [16]
R classes: ('character',)
['abundance', 'counts', 'length', 'countsFro...]

In [22]:
# Extract the raw gene counts and TPM counts from gene_level_count_list to a dataframe
%R raw_count_df <- data.frame(gene_level_count_list$counts)
%R tpm_count_df <- data.frame(gene_level_count_list$abundance)

# Export to python environment
%R -o raw_count_df
%R -o tpm_count_df

# Type annotation
raw_count_df: DataFrame
tpm_count_df: DataFrame

In [23]:
# Take a peek at the count matrix
raw_count_df.head(5)

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16,X17
5S_rRNA,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.0
A1BG,0.000000,0.000000,0.884727,1.731269,0.878589,0.000000,0.880750,0.000000,0.000000,2511.164944,0.000000,0.000000,0.000000,1.766093,0.00000,1.747984,0.0
A1CF,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.738325,0.731650,10.333252,22.455639,0.000000,0.000000,0.000000,1.446909,0.00000,0.000000,0.0
A2M,10.610636,3.039046,1.498629,3.016140,4.491151,5.921437,4.464646,1.483068,3.007374,22464.830996,3.073017,10.520021,4.522441,6.090698,12.17956,0.000000,0.0
A2ML1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,92.122733,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.0

In [24]:
# Rename Column Names
raw_count_df.columns = raw_count_df.columns.str.replace('X', 'S')
tpm_count_df.columns = tpm_count_df.columns.str.replace('X', 'S')

In [25]:
raw_count_df.head(5)

,S1,S2,S3,S4,S5,S6,S7,S8,S9,S10,S11,S12,S13,S14,S15,S16,S17
5S_rRNA,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.0
A1BG,0.000000,0.000000,0.884727,1.731269,0.878589,0.000000,0.880750,0.000000,0.000000,2511.164944,0.000000,0.000000,0.000000,1.766093,0.00000,1.747984,0.0
A1CF,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.738325,0.731650,10.333252,22.455639,0.000000,0.000000,0.000000,1.446909,0.00000,0.000000,0.0
A2M,10.610636,3.039046,1.498629,3.016140,4.491151,5.921437,4.464646,1.483068,3.007374,22464.830996,3.073017,10.520021,4.522441,6.090698,12.17956,0.000000,0.0
A2ML1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,92.122733,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.0

In [26]:
# Save as CSV files
raw_count_df.to_csv(path_or_buf=processed_data_path + 'raw_count_matrix.csv', index=True, index_label='Gene_Names')
tpm_count_df.to_csv(path_or_buf=processed_data_path + 'tpm_count_matrix.csv', index=True, index_label='Gene_Names')